<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= searchfile %></title>
</head>
<body>
  <h3>파일명 : <%= filename %></h3>
  <h3>방송일 : <%= date %></h3>
  <h3>종류 : <%= kind %></h3>
  <a href = "<%=link%>"><input type = "button" value = "다운로드" ></a>
</body>
</html>
